h1{
    max-width: 500px;
    margin: auto; 
    padding: 20px;
    text-align: center;
  }
  .container-home{
    /* background-image: url('../assets/village.jpg'); */
    width: 100%;
    margin: auto;
    text-align: center;
    border: 30px;
    border-color: rebeccapurple;
    height: 600px;
  }
  .container-home button{
    background-color: #04AA6D; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
  }
  .container-home img{
    width: 50%;
    height: 100%;
    padding: 20px;
  
  }